* {
/* 	margin: 0; */
/* padding: 0; */
}

html, body {
	margin: 0;
	height: 100%;
}

body {
	background-color: #fff;
	color: #222;
	font-family: Open Sans, Arial, sans-serif;
}

.eoos-content-column {
	margin: 10rem auto 0 auto;
	width: 50rem;
}

.eoos-provider,
.eoos-property {
	border-bottom: 1px solid #bbb;
	margin: 0;
	position: relative;
}
.eoos-provider {
	cursor: pointer;
}
.eoos-provider,
.eoos-property-content {
	padding: 1.6rem 1rem 2rem 1rem;
}
.eoos-provider:hover {
	background: #f0faff;
}
.eoos-provider > h2,
.eoos-property  h2 {
	margin: 0 0 1rem 0;
}
.eoos-provider.custom,
.eoos-property:first-of-type {
	border-top: 1px solid #bbb;
}
.eoos-provider-custom-input {
	width: calc(100% - 10rem);
}
.eoos-provider input,
.eoos-property input {
	display: block;
	width: 100%;
	margin-top: .5rem;
	height: 2rem;
	line-height: 1.5rem;
	font-size: 1rem;
	padding: .05rem .5rem 0 .5rem;
	/*background: transparent;*/
	border: 1px solid #aaa;
}

.eoos-provider-go {
	position: absolute;
	top: 50%;
	right: 2rem;
	transform: translateY(-50%);
	width: 3rem;
	height: 3rem;
}
.eoos-provider-go::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	font-family: FontAwesome, sans-serif;
	content: "\f105";
	text-align: center;
	font-size: 2rem;
}
.eoos-provider-go.highlighted {
	background: #9cf;
}

.eoos-property {
	display: flex;
}
.eoos-property-content {
	flex-grow: 1;
}
.eoos-property-indicator {
	width: 7rem;
	position: relative;
}

.eoos-property.used {
	background: #e0f1ff;
}
/*.eoos-property.used:hover {*/
	/*background: #d7ecff;*/
/*}*/
.eoos-property.used .eoos-property-indicator::after {
	font-family: FontAwesome, sans-serif;
	font-size: 2rem;
	content: "\f00c";
	text-align: center;
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #599aff;
}


.eoos-property-timerange {
	display: flex;
	justify-content: space-between;
}
.eoos-property-timerange > label {
	width: 46%;
}


#provider-search-controls {
	height: 0;
	position: relative;
}

.eoos-search-btn {
	width: 8rem;
	height: 2.5rem;
	border: 1px solid #ccc;
	line-height: 2.5rem;
	text-align: center;
	cursor: pointer;
}
.eoos-search-btn.primary {
	background: #cfc;
}

#search-back,
#search-submit {
	position: absolute;
	top: 0;
}
#search-back {
	left: -12rem;
}
#search-submit {
	right: -12rem;
}


#map-area {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 70%;
	background: #000;
}
#results-area {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 30%;
	display: flex;
	flex-direction: column;
	background: #fff;
}
#results-area.expanded {
	width: 100%;
}

#results-back {
	background: #eee;
	height: 2rem;
	line-height: 2rem;
	padding: 0 .5rem;
	font-size: .85rem;
}
#results-header {
	padding: .5rem;
}
#results-search > span.eoos-results-property {
	display: block;
}
#results-list {
	flex-grow: 1;
}
#results-pagination {
	padding: .5rem;
	text-align: center;
	border-top: 1px solid #eee;
}