* {
/* 	margin: 0; */
/* padding: 0; */
	box-sizing: border-box;
}

html, body {
	margin: 0;
	height: 100%;
}

body {
	background-color: #fff;
	color: #222;
	font-family: Open Sans, Arial, sans-serif;
}

.eoos-content-column {
	margin: 10rem auto 0 auto;
	width: 50rem;
}

.eoos-provider,
.eoos-property {
	border-bottom: 1px solid #bbb;
	margin: 0;
	position: relative;
}
.eoos-provider {
	cursor: pointer;
}
.eoos-provider,
.eoos-property-content {
	padding: 1.6rem 1rem 2rem 1rem;
}
.eoos-provider:hover {
	background: #f0faff;
}
.eoos-provider > h2,
.eoos-property  h2 {
	margin: 0 0 1rem 0;
}
.eoos-provider.custom,
.eoos-property:first-of-type {
	border-top: 1px solid #bbb;
}
.eoos-provider-custom-input {
	width: calc(100% - 10rem);
}
.eoos-provider input,
.eoos-property input {
	display: block;
	width: 100%;
	margin-top: .5rem;
	height: 2rem;
	line-height: 1.5rem;
	font-size: 1rem;
	padding: .05rem .5rem 0 .5rem;
	/*background: transparent;*/
	border: 1px solid #aaa;
}

.eoos-provider-go {
	position: absolute;
	top: 50%;
	right: 2rem;
	transform: translateY(-50%);
	width: 3rem;
	height: 3rem;
}
.eoos-provider-go::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	font-family: FontAwesome, sans-serif;
	content: "\f105";
	text-align: center;
	font-size: 2rem;
}
.eoos-provider-go.highlighted {
	background: #9cf;
}

.eoos-property {
	display: flex;
}
.eoos-property-content {
	flex-grow: 1;
}
.eoos-property-indicator {
	width: 7rem;
	position: relative;
}

.eoos-property.used {
	background: #e0f1ff;
}
/*.eoos-property.used:hover {*/
	/*background: #d7ecff;*/
/*}*/
.eoos-property.used .eoos-property-indicator::after {
	font-family: FontAwesome, sans-serif;
	font-size: 2rem;
	content: "\f00c";
	text-align: center;
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #599aff;
}


.eoos-property-timerange {
	display: flex;
	justify-content: space-between;
}
.eoos-property-timerange > label {
	width: 46%;
}


#provider-search-controls {
	height: 0;
	position: relative;
}

.eoos-search-btn {
	width: 8rem;
	height: 2.5rem;
	border: 1px solid #ccc;
	line-height: 2.5rem;
	text-align: center;
	cursor: pointer;
}
.eoos-search-btn.primary {
	background: #cfc;
}

#search-back,
#search-submit {
	position: absolute;
	top: 0;
}
#search-back {
	left: -12rem;
}
#search-submit {
	right: -12rem;
}


#map-area {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 70vw;
	background: #000;
}
#map-area > canvas {
	width: 100%;
	height: 100%;
}
#results-area {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 30vw;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background: #fff;
	font-size: .85rem;

	transition:
		width .3s ease-in-out;
}
#results-area.expanded {
	width: 100vw;
}

#results-back {
	background: #eee;
	height: 2rem;
	line-height: 2rem;
	padding: 0 .5rem;
	font-size: .85rem;
}
#results-header {
	padding: .5rem;

	position: relative;
}
#results-header > h1,
#results-search {
	width: 30vw;
}
#results-header > h1 {
	font-size: 1.5rem;
	margin: .5rem 0;
}
#results-search > span.eoos-results-property {
	display: block;
}
#results-expand-button {
	position: absolute;
	top: 1rem;
	right: .5rem;
	width: 6rem;
	height: 2rem;
	line-height: 1.9rem;
	border: 1px solid #e2e2e2;
	text-align: center;
	cursor: pointer;

}
#results-list-header {
	overflow-x: hidden;
	/* border-top: 1px solid #ddd; */
}
#results-list {
	flex-grow: 1;
	overflow-x: hidden;
	border-top: 1px solid #eee;
}
#results-pagination {
	padding: .5rem;
	text-align: center;
	border-top: 1px solid #eee;
}


.eoos-result {
	height: 3rem;
	overflow: hidden;
	position: relative;
	border-bottom: 1px solid #f2f2f2;
	cursor: pointer;
}
.eoos-result:hover {
	background: #f0f8ff;
}
.eoos-result-properties {
	width: calc(100vw - 6rem);
	display: flex;
}
#results-list-header {
	width: 100vw;
	display: flex;
	height:  2rem;
	line-height: 2rem;
	color: #888;
}
.eoos-result-name {
	display: block;
	font-weight: 700;
	font-size: .95rem;
}
.eoos-result-time {
	display: block;
	font-size: .75rem;
}
.eoos-result-property,
.eoos-results-list-header {
	flex-basis: 12vw;
	border-left: 1px solid #f2f2f2;
	font-size: .85rem;
}
.eoos-results-list-header {
	text-transform: uppercase;
	padding: .2rem .5rem;
	border-color: #fff;
}
.eoos-result-property {
	padding: .3rem .5rem;
	line-height: 2.4rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.eoos-result-property:last-child {
	border-right: 1px solid #f2f2f2;
}
.eoos-result-name-time,
#results-list-header-name-time {
	width: 30vw;
	flex-basis: 30vw;
	padding: .2rem 6rem .2rem .5rem;
}
#results-list-header-name-time {
	text-transform: uppercase;
	font-size: .85rem;
}
.eoos-result-controls {
	position: absolute;
	top: 0;
	right: 0;
	width: 6rem;
	height: 100%;
	/*background: #fff;*/
}
.eoos-result-controls > div {
	display: inline-block;
	margin: .5rem 0 .5rem .5rem;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	/*background: #f0f8ff;*/
	cursor: pointer;
	position: relative;
}
.eoos-result-controls > div:hover {
	background: #d3ecfb;
}
.eoos-result-controls > div::after {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	line-height: inherit;
	font-family: FontAwesome, sans-serif;
	color:#69a5da;
}
.eoos-result-detail-button::after {
	content: "\f129";
}
.eoos-result-search-button::after {
	content: "\f002";
}